/* Reset CSS */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

input, select {
  border: none;
  outline: none;
}

body {
  font-family: "Raleway", serif;;
}